<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style="height:100vh;text-align:center;background: no-repeat linear-gradient(black, #38618C 100%) ">
    <h1 style="padding-top:200px;color:white; font-family:arial"> <%= character.name%> </h1>
    <div style="display:flex;justify-content:space-around; align-items:center">
      <div style="text-align:center; color:white">
        <h2>Height</h2>
        <h3><%= character.height%></h3>
      </div>
      <div style="text-align:center; color:white">
        <h2>Mass</h2>
        <h3><%= character.mass%></h3>
      </div>
      <div style="text-align:center; color:white">
        <h2>Eye color</h2>
        <h3><%= character.eye_color%></h3>
      </div>
      <div style="text-align:center; color:white">
        <h2>Birth Year</h2>
        <h3><%= character.birth_year%></h3>
      </div>
    </div>
  </body>
</html>


<!-- {
"name": "Luke Skywalker",
"height": "172",
"mass": "77",
"hair_color": "blond",
"skin_color": "fair",
"eye_color": "blue",
"birth_year": "19BBY",
"gender": "male",
"homeworld": "http://swapi.co/api/planets/1/",
"films": [
"http://swapi.co/api/films/2/",
"http://swapi.co/api/films/6/",
"http://swapi.co/api/films/3/",
"http://swapi.co/api/films/1/",
"http://swapi.co/api/films/7/"
],
"species": [
"http://swapi.co/api/species/1/"
],
"vehicles": [
"http://swapi.co/api/vehicles/14/",
"http://swapi.co/api/vehicles/30/"
],
"starships": [
"http://swapi.co/api/starships/12/",
"http://swapi.co/api/starships/22/"
],
"created": "2014-12-09T13:50:51.644000Z",
"edited": "2014-12-20T21:17:56.891000Z",
"url": "http://swapi.co/api/people/1/"
} -->
